<p>
<span> <b>	<%=flight.flightno %></b></span>
<span><%=flight.from_airport.alias %></span>
<span><%=flight.to_airport.alias %></span>
<span><%=flight.event_date_formatted %></span>
<span><%=flight.duration %></span>
</p>